@model WeatherApp.Models.City

@{ 
    Layout = "_Layout";
}

<div class="container">
    <a id="plz" href="#">LINK</a>
    <div class="row">
        <div class="col"></div>
        <div class="col-8" id="main-form">
            <!--Remember that asp-controller doesn't need 'Controller' in a name of controller :( -->
            <form asp-controller="WeatherApi" asp-action="WeatherByCity" method="post" id="WeatherForm">
                <p>
                    <label asp-for="Name">City: </label>
                    <input asp-for="Name" />
                </p>
                <button type="submit">OK</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>