@model WeatherApp.Models.City
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8" id="main-form">
            <form asp-action="WeatherByCity" method="post" id="WeatherForm">
                <p>
                    <label asp-for="Name">City: </label>
                    <input asp-for="Name" />
                </p>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>