@model WeatherApp.Models.City


<div class="d-flex justify-content-center align-items-center">            
        <div>
            <!--Remember that asp-controller doesn't need 'Controller' in a name of controller :( -->        
            <form asp-controller="WeatherApi" asp-action="WeatherByCity" method="post" style="margin:20%" class="form-inline">
                <p>
                    <label asp-for="Name">City:</label>
                    <input asp-for="Name" />
                </p>
                <button class="btn-primary" type="submit">OK</button>
            </form>
        </div> 
</div>